.footer {
    background: #000000;
    min-height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .stats {
    font-size: calc(58px + 2vmin);
    align-self: end;
    margin: 20px 100px 2px 40px;
    text-shadow:  1px 2px 7px #ffffff;
  }

  span {
    font-size: calc(40px + 2vmin);
  }

  .historical {
    font-size: calc(20px + 2vmin);
    text-shadow:  1px 2px 7px #ffffff;
    align-self: flex-end;
    line-height: .1;
    text-align: left;
  }

  .percentage {
    font-size: calc(32px + 2vmin);
    text-shadow:  1px 2px 7px #ffffff;
    align-self: flex-end;
    line-height: .1;
    text-align: right;
  }

  .remaining {
    font-size: calc(28px + 2vmin);
    text-shadow:  1px 2px 7px #ffffff;
    align-self: flex-end;
    line-height: .1;
    text-align: right;
  }

  .stats-container {
    width: 1000px;
  }

  .historical-container {
    margin: 0px -200px -100px;
    width: 500px
  }